In [1]:
import findspark
findspark.init()

In [23]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CTR").getOrCreate()

In [24]:
from pyspark.ml.feature import OneHotEncoderEstimator,StringIndexer,VectorAssembler,OneHotEncoder
import pandas as pd

In [25]:
pwd

'/Users/song/Documents/TDI'

In [26]:
df = spark.read.csv("AvazuData/train_sample",header = True,inferSchema = True)

In [27]:
df.printSchema();

root
 |-- _c0: integer (nullable = true)
 |-- id: decimal(20,0) (nullable = true)
 |-- click: integer (nullable = true)
 |-- hour: timestamp (nullable = true)
 |-- C1: integer (nullable = true)
 |-- banner_pos: integer (nullable = true)
 |-- site_id: string (nullable = true)
 |-- site_domain: string (nullable = true)
 |-- site_category: string (nullable = true)
 |-- app_id: string (nullable = true)
 |-- app_domain: string (nullable = true)
 |-- app_category: string (nullable = true)
 |-- device_id: string (nullable = true)
 |-- device_ip: string (nullable = true)
 |-- device_model: string (nullable = true)
 |-- device_type: integer (nullable = true)
 |-- device_conn_type: integer (nullable = true)
 |-- C14: integer (nullable = true)
 |-- C15: integer (nullable = true)
 |-- C16: integer (nullable = true)
 |-- C17: integer (nullable = true)
 |-- C18: integer (nullable = true)
 |-- C19: integer (nullable = true)
 |-- C20: integer (nullable = true)
 |-- C21: integer (nullable = true)

In [28]:
pd.DataFrame(df.take(5),columns=df.columns)

,_c0,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,0,10064510034122765217,0,2014-10-21,1005,0,f282ab5a,61eb5bc4,f028772b,ecad2386,...,1,0,18993,320,50,2161,0,35,-1,157
1,1,10262295590156356316,0,2014-10-21,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15702,320,50,1722,0,35,-1,79
2,2,10347051747239722375,0,2014-10-21,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15703,320,50,1722,0,35,-1,79
3,3,10362543979458655460,0,2014-10-21,1005,1,d9750ee7,98572c79,f028772b,ecad2386,...,1,2,17614,320,50,1993,2,1063,-1,33
4,4,10717182463240659648,1,2014-10-21,1005,0,6c5b482c,7687a86e,3e814130,ecad2386,...,1,0,17654,300,250,1994,2,39,100084,33

In [29]:
df.describe().show();

+-------+-----------------+--------------------+-------------------+------------------+------------------+--------+-----------+-------------+--------+----------+------------+---------+---------+------------+-------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+
|summary|              _c0|                  id|              click|                C1|        banner_pos| site_id|site_domain|site_category|  app_id|app_domain|app_category|device_id|device_ip|device_model|        device_type|   device_conn_type|               C14|               C15|               C16|               C17|               C18|               C19|              C20|              C21|
+-------+-----------------+--------------------+-------------------+------------------+------------------+--------+-----------+-------------+--------+----------+------------+---------+---------+------------+-------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+
|  count|            60000|               60000|              60000|             60000|             60000|   60000|      60000|        60000|   60000|     60000|       60000|    60000|    60000|       60000|              60000|              60000|             60000|             60000|             60000|             60000|             60000|             60000|            60000|            60000|
|   mean|          29999.5|90560334625467279...|0.17346666666666666|1004.9701166666666|0.2729333333333333|Infinity|   Infinity|     Infinity|Infinity|  Infinity|        null| Infinity| Infinity|    Infinity| 1.0098166666666666|0.33426666666666666|19198.254233333333|318.85293333333334|            60.659|2158.6844666666666|1.4310166666666666|221.35238333333334|      53504.01705|85.20368333333333|
| stddev|17320.65241265467|4.977281508428120...| 0.3786533663679127|  1.07373625014764|0.5071275466073902|     NaN|        NaN|          NaN|     NaN|       NaN|        null|      NaN|      NaN|         NaN|0.49909029033584784| 0.8535872963031348| 4928.737293346073|20.549999426686828|48.581717981719976| 606.2386997116449|1.3319174898589692|342.43478318603354|49939.29669266671| 73.6682207369331|
|    min|                0|     156443447810035|                  0|              1001|                 0|006ab81e|   005b495a|     0569f928|00848fac|  0654b444|    07d7df22| 00083085| 00014c42|    00097428|                  0|                  0|               375|               120|                20|               112|                 0|                33|               -1|                1|
|    max|            59999|18446740396196263632|                  1|              1012|                 7|fffe8e1c|   fff602a2|     f66779e6|ffc6ffd0|  fea0d84a|    fc6fa53d| fff4f946| ffff2aad|    ffe69079|                  5|                  5|             24043|              1024|              1024|              2757|                 3|              1839|           100248|              255|
+-------+-----------------+--------------------+-------------------+------------------+------------------+--------+-----------+-------------+--------+----------+------------+---------+---------+------------+-------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+

In [30]:
df.describe().toPandas()

,summary,_c0,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,count,60000,60000,60000,60000,60000,60000,60000,60000,60000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,60000
1,mean,29999.5,9056033462546727958.8060,0.17346666666666666,1004.9701166666666,0.2729333333333333,Infinity,Infinity,Infinity,Infinity,...,1.0098166666666666,0.33426666666666666,19198.254233333333,318.85293333333334,60.659,2158.6844666666666,1.4310166666666666,221.35238333333334,53504.01705,85.20368333333333
2,stddev,17320.65241265467,4.9772815084281201E18,0.3786533663679127,1.07373625014764,0.5071275466073902,NaN,NaN,NaN,NaN,...,0.49909029033584784,0.8535872963031348,4928.737293346073,20.549999426686828,48.581717981719976,606.2386997116449,1.3319174898589692,342.43478318603354,49939.29669266671,73.6682207369331
3,min,0,156443447810035,0,1001,0,006ab81e,005b495a,0569f928,00848fac,...,0,0,375,120,20,112,0,33,-1,1
4,max,59999,18446740396196263632,1,1012,7,fffe8e1c,fff602a2,f66779e6,ffc6ffd0,...,5,5,24043,1024,1024,2757,3,1839,100248,255

In [31]:
df.columns

['_c0',
 'id',
 'click',
 'hour',
 'C1',
 'banner_pos',
 'site_id',
 'site_domain',
 'site_category',
 'app_id',
 'app_domain',
 'app_category',
 'device_id',
 'device_ip',
 'device_model',
 'device_type',
 'device_conn_type',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21']

In [32]:
categoricalColumns = df.columns[6:15]
categoricalColumns

['site_id',
 'site_domain',
 'site_category',
 'app_id',
 'app_domain',
 'app_category',
 'device_id',
 'device_ip',
 'device_model']

In [33]:
stages = []
#encoder1 = OneHotEncoderEstimator(inputCols=['banner_pos',"device_type"],outputCols = ["banner_pos"+"classVec","device_type"+"classVec"])
#stages += [encoder1]
for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer(inputCol = categoricalCol,outputCol = categoricalCol + 'Index')
    #encoder = OneHotEncoderEstimator(inputCols = [stringIndexer.getOutputCol()],outputCols = [categoricalCol + 'classVec'])
    encoder = OneHotEncoder(inputCol=categoricalCol +"Index",outputCol = categoricalCol+"classVec")
    stages += [stringIndexer,encoder]
#label_stringIdx = StringIndexer(inputCol = , outputCol = "")
    #stages += [label_stringIdx]
    #df = stringIndexer.fit(df).transform(df)
    #df = encoder.transform(df)

In [34]:
numericCols = df.columns[17:25]
numericCols

['C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']

In [35]:
numericCols = df.columns[15:24]
assemblerInputs = [c + "classVec" for c in categoricalColumns] + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs,outputCol = 'features')
stages += [assembler]

In [36]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = stages)
df= pipeline.fit(df).transform(df)

In [37]:
pd.DataFrame(df.take(5),columns=df.columns)

,_c0,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,...,app_domainclassVec,app_categoryIndex,app_categoryclassVec,device_idIndex,device_idclassVec,device_ipIndex,device_ipclassVec,device_modelIndex,device_modelclassVec,features
0,0,10064510034122765217,0,2014-10-21,1005,0,f282ab5a,61eb5bc4,f028772b,ecad2386,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",17811.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",267.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1,10262295590156356316,0,2014-10-21,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",12916.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,2,10347051747239722375,0,2014-10-21,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",289.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",368.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,3,10362543979458655460,0,2014-10-21,1005,1,d9750ee7,98572c79,f028772b,ecad2386,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",8.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...",70.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
4,4,10717182463240659648,1,2014-10-21,1005,0,6c5b482c,7687a86e,3e814130,ecad2386,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",6164.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",11.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [38]:
df.dtypes

[('_c0', 'int'),
 ('id', 'decimal(20,0)'),
 ('click', 'int'),
 ('hour', 'timestamp'),
 ('C1', 'int'),
 ('banner_pos', 'int'),
 ('site_id', 'string'),
 ('site_domain', 'string'),
 ('site_category', 'string'),
 ('app_id', 'string'),
 ('app_domain', 'string'),
 ('app_category', 'string'),
 ('device_id', 'string'),
 ('device_ip', 'string'),
 ('device_model', 'string'),
 ('device_type', 'int'),
 ('device_conn_type', 'int'),
 ('C14', 'int'),
 ('C15', 'int'),
 ('C16', 'int'),
 ('C17', 'int'),
 ('C18', 'int'),
 ('C19', 'int'),
 ('C20', 'int'),
 ('C21', 'int'),
 ('site_idIndex', 'double'),
 ('site_idclassVec', 'vector'),
 ('site_domainIndex', 'double'),
 ('site_domainclassVec', 'vector'),
 ('site_categoryIndex', 'double'),
 ('site_categoryclassVec', 'vector'),
 ('app_idIndex', 'double'),
 ('app_idclassVec', 'vector'),
 ('app_domainIndex', 'double'),
 ('app_domainclassVec', 'vector'),
 ('app_categoryIndex', 'double'),
 ('app_categoryclassVec', 'vector'),
 ('device_idIndex', 'double'),
 ('device_idclassVec', 'vector'),
 ('device_ipIndex', 'double'),
 ('device_ipclassVec', 'vector'),
 ('device_modelIndex', 'double'),
 ('device_modelclassVec', 'vector'),
 ('features', 'vector')]

In [39]:
train,test = df.randomSplit([0.8,0.2],seed = 2019)
print("Training Dataset count:" + str(train.count()))
print("Test Dataset count:"+str(test.count()))

Training Dataset count:48034
Test Dataset count:11966

In [40]:
from pyspark.ml.classification import LogisticRegression

In [43]:
lr = LogisticRegression(featuresCol = "features",labelCol="click",maxIter =100,regParam = 0.001)
lrmodel = lr.fit(train)

In [44]:
prediction = lrmodel.transform(test)

In [54]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator(rawPredictionCol = 'prediction',labelCol="click",metricName = 'areaUnderROC')
print("AreaUnderRoc of the model is %s" %evaluator.evaluate(prediction))

AreaUnderRoc of the model is 0.5226497204579824

In [81]:
from pyspark.ml.feature import VectorIndexer

data = spark.read.format("libsvm").load("/anaconda3/lib/python3.6/site-packages/pysaprk/data/mllib/sample_libsvm_data.txt")

indexer = VectorIndexer(inputCol="features", outputCol="indexed", maxCategories=10)
indexerModel = indexer.fit(data)

categoricalFeatures = indexerModel.categoryMaps
print("Chose %d categorical features: %s" %
      (len(categoricalFeatures), ", ".join(str(k) for k in categoricalFeatures.keys())))

# Create new column "indexed" with categorical values transformed to indices
indexedData = indexerModel.transform(data)
indexedData.show()ï¼›

SyntaxError: invalid character in identifier (<ipython-input-81-52760bf72809>, line 14)

In [77]:
encoder2 = OneHotEncoder(inputCol="id",outputCol = "idVec")
encoded2 = encoder2.transform(indexed)
encoded2.show()

Exception ignored in: <object repr() failed>
Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/pyspark/ml/wrapper.py", line 40, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'OneHotEncoderEstimator' object has no attribute '_java_obj'

+---+--------+-------------+-------------+
| id|category|categoryIndex|        idVec|
+---+--------+-------------+-------------+
|  0|       a|          0.0|(3,[0],[1.0])|
|  1|       b|          1.0|(3,[1],[1.0])|
|  2|       c|          2.0|(3,[2],[1.0])|
|  3|       a|          0.0|    (3,[],[])|
+---+--------+-------------+-------------+

In [76]:
encoder = OneHotEncoder(inputCol ="categoryIndex",outputCol="categoryVec")
encoded = encoder.transform(indexed)
encoded.show()

+---+--------+-------------+-------------+
| id|category|categoryIndex|  categoryVec|
+---+--------+-------------+-------------+
|  0|       a|          0.0|(2,[0],[1.0])|
|  1|       b|          1.0|(2,[1],[1.0])|
|  2|       c|          2.0|    (2,[],[])|
|  3|       a|          0.0|(2,[0],[1.0])|
+---+--------+-------------+-------------+

In [116]:
test.show()

+---+--------+-------------+-------------+
| id|category|categoryIndex|  categoryVec|
+---+--------+-------------+-------------+
|  0|       a|          0.0|(2,[0],[1.0])|
|  1|       b|          1.0|(2,[1],[1.0])|
|  2|       c|          2.0|    (2,[],[])|
|  3|       a|          0.0|(2,[0],[1.0])|
+---+--------+-------------+-------------+

In [115]:
pl = Pipeline(stages = stages)
test = pl.fit(test).transform(test)

In [114]:
indexer=StringIndexer(inputCol="category",outputCol="categoryIndex")
encoder = OneHotEncoder(inputCol ="categoryIndex",outputCol="categoryVec")
assembler
stages+=[indexer,encoder]

In [113]:
stages = []

In [112]:
test.show()

+---+--------+
| id|category|
+---+--------+
|  0|       a|
|  1|       b|
|  2|       c|
|  3|       a|
+---+--------+

In [111]:
test = spark.createDataFrame([(0,"a"),(1,"b"),(2,"c"),(3,"a")],["id","category"])